*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;

}

body{
    background: url(./images/qa-bg-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    padding: 0 1.2rem;
    justify-content: center;
    align-items: center;
}

.qr-code-main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 0 1rem;
}

.qr-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-bg{
   height: 15rem;
   width: 15rem;
   background-color: #282e3e;
   border-radius: 50%;
   position: absolute;
   z-index: -3;
}

.qr-code{
    background-color: white;
    width: 100%;
    padding: 1.5rem; /* Increased padding */
    border-radius: 0.5rem;
}

.qr-code-logo{
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.qr-code-logo img{
    width: 100%;
}

.qr-code-input{
    width: 100%;
    background-color: #030617;
    padding: 1rem 1.2rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    outline: 4px solid #273fa9;
}

.qr-code-input input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    width: 60%;

}

.qr-code-input input::placeholder{
    color: white;
    font-style: italic;
}

.qr-code-input a{
    padding: 0.7rem 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #273fa9;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;

    text-decoration: none;
}

.qr-code-input a:hover{
    opacity: 0.9;
}

.big-logo{
    display: none;
}

.error-msg{
    color: white;
    display: none;
}

.show{
    display: block;
}




@media screen and (min-width: 600px) {
    body{
        background: url(./images/qa-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .small-logo{
        display: none;
    }

    .big-logo{
        display: block;
    }
}